/* body{
  background-color: aqua;
  background-image: url('../public/employeelist\ bg\ image.jpg');
  background-size: cover;
} */
/* App.css */
/* .App {

  background-size: cover; /* Adjust as needed */
  /* Add more background properties if necessary */
